.projectGroup{
   min-width: 450px;
   max-width: 450px;
   border-radius: 10px;
   background-color: #F2F5FC;
   padding:20px;
   margin-right: 20px;
   border-radius: 25px;
   h2{
      margin-bottom: 15px;
   }
}