.aside{
   max-width: 400px;
   height: 100vh;
   background-color: #32394B;
   padding:50px;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}
.title{
   color:white;
   font-size:40px;
  
}
.titleWrapper{
   margin-bottom: 100px;
}